<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.deathgrindfreak.clashcaller"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cclogo"
        android:label="Clash Caller"
        android:logo="@mipmap/ic_cclogo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.deathgrindfreak.clashcaller.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.StartWarActivity"
            android:label="@string/title_activity_start_war" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.ShowWarActivity"
            android:label="@string/title_activity_show_war" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.JoinWarActivity"
            android:label="@string/title_activity_join_war" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.SearchClanActivity"
            android:label="@string/title_activity_search_clan" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.ClashSettingsActivity"
            android:label="@string/title_activity_clash_settings" >
        </activity>
        <activity
            android:name="io.deathgrindfreak.clashcaller.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>
